<h1 id="title">Get to know your neighbors.</h1>
<p>Powered by Cornell's <%= link_to 'eBird', 'http://www.ebird.org' %> Ornithology API</p>
<div id="sample">
  <%= image_tag 'sample.png', id:'sample' %>
  <h4>Updated live in <%= link_to "Glass™", "http://www.google.com/glass/start/" %> wherever you go.</h4>
  <p>Created by <%= link_to '@blaha', 'https://twitter.com/blaha' %> and <%= link_to "you", "http://www.github.com/nelsonblaha/birdsforglass" %>. |  Glass™ is a trademark of Google Inc.</p>
</div>

<%= render 'layouts/session' %>

<div id="birdsList">
  <h2>Birds you'd see right now:</h2>
  <div id="birds">You're not near any bird sightings.</div>
</div>