<h1>Listing birds</h1>

<table>
  <tr>
    <th>Com name</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @birds.each do |bird| %>
  <tr>
    <td><%= bird.com_name %></td>
    <td><%= bird.image_url %></td>
    <td><%= link_to 'Show', bird %></td>
    <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
    <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bird', new_bird_path %>
