<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @authorization.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @authorization.uid %>
</p>

<p>
  <b>User:</b>
  <%= @authorization.user_id %>
</p>

<%= link_to 'Edit', edit_authorization_path(@authorization) %> |
<%= link_to 'Back', authorizations_path %>
